/* Nav.module.css */
.Container {
  background-color: #ffffff;
  border-bottom: 1px solid #d9d9d9;
  padding: 16px 24px;
}

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  min-height: 48px;
  gap: 20px; /* 요소 간의 간격 */
  flex-grow: 1;
}

.Nav.public {
  justify-content: center;
  align-items: center;
}

.Logo {
  height: 16px;
  flex-shrink: 0; /* 로고 크기 축소 방지 */
}

.Menu {
  display: flex;
  gap: 16px;
  align-items: center;
  flex-shrink: 0; /* 크기 축소 방지 */
}

.Divider {
  width: 1px;
  height: 32px;
  background-color: #dbdbdb;
  margin: 0 8px;
}

.SearchContainer {
  flex-grow: 2; /* 남은 공간을 최대한 사용 */
  max-width: 440px; /* 검색창의 최대 크기 제한 */
}
